* {
    /* border: 2px solid red; */
    margin: 0; /* Set all margins to zero so that we have better control over them */
}

:root {
    /* Adjusted palette from "Copy of vintage card" by marketing */
    /* found on https://color.adobe.com/explore */
    --dark: #5c4b51;
    --blue: #8cbeb2;
    --light: #edebde;
    --gold: #f3b562;
    --red: #f06060;
    --green: #c9cc66;
}

::selection {
    background-color: var(--dark);
    color: var(--light);
}
#side-panel ::selection {
    background-color: var(--light);
    color: var(--dark);
}

html {
    background-color: var(--dark);
}

body {
    font-family: "Roboto Flex", Tahoma, Verdana, sans-serif;
}

h1, h2, h3 {
    color: var(--dark);
    font-family: Domina, Cambria, Georgia, serif;
}

a {
    text-decoration: none;
}

nav {
    display: grid;
    grid-auto-flow: row;
    margin-right: 15px;
}

#side-panel {
    width: 250px;
    height: 100vh;
    position: fixed;
    text-align: center;
}
nav a {
    color: var(--light);
    padding: 20px 0;
    margin: 3px 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 20px;
}
nav a:hover {
    background-color: var(--gold);
    color: var(--dark);
}
#side-panel h1 {
    color: var(--gold);
    margin: 30px auto;
}

#selected-tab {
    background-color: var(--blue);
    color: var(--dark);
}

main {
    margin: 15px auto;
    color: var(--dark);
    background-color: var(--light);
    margin-left: 250px;
    min-height: calc(100vh - 30px);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    align-content: center;
    flex-direction: column;
    position: relative;
}
main h1 {
    margin: 40px auto;
}
#menu-button {
    visibility: hidden;
}

.btn-default, .btn-confirm, .btn-deny {
    margin: 10px;
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    min-width: 100px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
.btn-default {
    background-color: var(--gold);
    color: var(--dark);
}
.btn-confirm {
    background-color: var(--green);
    color: var(--dark);
}
.btn-deny {
    background-color: var(--red);
    color: var(--light);
}

@media screen and (max-width: 1000px) {
    #side-panel a {
	visibility: hidden;
	pointer-events: none;
	cursor: default;
    }
    #side-panel.open a {
	visibility: visible;
	pointer-events: all;
	cursor: pointer;
    }

    main {
	margin-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	transition:
	    margin-left 0.5s ease,
	    border-top-left-radius 0.8s ease,
	    border-bottom-left-radius 0.8s ease;
    }
    main.open {
	margin-left: 250px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
    }
    #menu-button {
	visibility: visible;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	font-size: 28px;
	background-color: var(--dark);
	color: var(--light);
	border: none;
	position: absolute;
	top: 20px;
	left: 20px;
	font-family: Manrope;
    }
}

@media screen and (max-width: 700px) {
    main.open * {
	visibility: hidden;
    }
}

