* {
    /* border: 2px solid red; */
}

:root {
    /* Adjusted palette from "Copy of vintage card" by marketing */
    /* found on https://color.adobe.com/explore */
    --dark: #5c4b51;
    --blue: #8cbeb2;
    --light: #f2ebbf;
    --gold: #f3b562;
    --red: #f06060;
    --green: #b1b501;
    --green2: #c9cc66;
}

html {
    background-color: var(--dark);
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
}

main {
    background-color: floralwhite;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    flex-grow: 1;
    margin: 15px auto;
}

#side-panel {
    flex: 0 1 18%;	/* Try to keep the side panel at 18% */
    max-width: 250px;	/* Keep the side panel between 200 and 250 pixels */
    min-width: 200px;
    background-color: var(--dark);
    /* background: linear-gradient(to bottom, var(--red), var(--gold)); */
}

#side-panel h1 {
    color: var(--light);
    justify-content: center;
}

nav {
    display: grid;
    grid-auto-flow: row;
    text-align: center;
}
nav a {
    display: block;
    color: var(--light);
    text-decoration: none;
    width: 90%;
    margin: 3px auto;
    padding: 20px 0;
    font-size: 20px;
    font-family: Tahoma, Verdana, sans-serif;
    font-weight: bold;
}
nav a:hover {
    background-color: #b6d9d1;
    border-radius: 20px;
    color: var(--dark)
}
#selected-tab {
    background-color: var(--blue);
    color: var(--dark);
    border-radius: 20px;
}

h1, h2, h3 {
    color: var(--dark);
    text-align: center;
}

.btn-confirm {
    background-color: var(--green2);
    color: var(--dark);
}
.btn-deny {
    background-color: var(--red);
    color: floralwhite;
}
.btn-confirm, .btn-deny {
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    font-family: Tahoma, Verdana, sans-serif;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.note {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.note input {
    min-width: 700px;
    min-height: 400px;
    margin: 0 20px;
}
.note div {
    min-width: 700px;
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

.color-palette {
    display: grid;
    grid-auto-flow: column;
    min-width: 800px;
    justify-self: center;
    margin: 80px 0;
}
.color-palette div {
    min-height: 200px;
}
