:root {
    /* Adjusted palette from "Copy of vintage card" by marketing */
    /* found on https://color.adobe.com/explore */
    --dark: #5c4b51;
    --blue: #8cbeb2;
    --light: #edebde;
    --gold: #f3b562;
    --red: #f06060;
    --green: #c9cc66;
}

.container {
    user-select: none;
}
.container input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.container input:checked ~ .checkmark-border .checkmark {
    background-color: var(--red);
}
.checkmark-border {
    margin: 0 15px;
    border: 2px solid var(--red);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}
.checkmark {
    border-radius: 50%;
    height: 16px;
    width: 16px;
    position: absolute;
    top: 2px;
    left: 2px;
}

.todo-item {
    width: 80%;
    max-width: 500px;
    margin: 10px auto;
    background-color: #faf9f2;
    border-radius: 20px;
}
.todo-item p {
    margin: 15px;
}
.todo-header {
    margin-top: -2px;
    margin-left: 50px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    max-width: 450px;
}
.todo-header * {
    margin: 0;
}
.todo-header h1 {
    font-size: 25px;
    margin-right: 20px;
}
.todo-header h2 {
    margin-right: 10px;
    margin-top: 2px;
    font-size: 20px;
}
.todo-item:has(input:checked) h1 {
    text-decoration: line-through;
    color: gray;
}
.todo-item:has(input:checked) p {
    text-decoration: line-through;
    color: gray;
}
.todo-item:has(input:checked) h2 {
    color: gray;
}

#new-todo {
    margin: 10px auto;
}
